@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(""), url("../fonts/Mulish-Light.woff2") format("woff2"), url("../fonts/Mulish-Light.woff") format("woff");
}
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/Mulish-Regular.woff2") format("woff2"), url("../fonts/Mulish-Regular.woff") format("woff");
}
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../fonts/Mulish-Bold.woff2") format("woff2"), url("../fonts/Mulish-Bold.woff") format("woff");
}
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(""), url("../fonts/Mulish-SemiBold.woff2") format("woff2"), url("../fonts/Mulish-SemiBold.woff") format("woff");
}
img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.swiper {
  width: 600px;
  height: 300px;
}

.container {
  padding: 0;
}
@media (min-width: 768px) {
  .container {
    padding: 0;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.only--mobile {
  display: inline-block;
}
@media (min-width: 768px) {
  .only--mobile {
    display: none;
  }
}

.only--tablet {
  display: none;
}
@media (min-width: 768px) {
  .only--tablet {
    display: inline-block;
  }
}

.only--desktop {
  display: none;
}
@media (min-width: 1280px) {
  .only--desktop {
    display: inline-block;
  }
}

.button {
  background: transparent;
  border: none;
  display: block;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  padding: 18px 15px;
  min-width: 87px;
  border-radius: 54px;
  font-family: "Mulish", "Arial", sans-serif;
}

.button--bordered {
  border: 1px solid #171717;
  color: #171717;
}
.button--bordered:hover {
  background-color: #190C39;
  color: #ffffff;
}

.button--dark {
  background-color: #190C39;
  color: #ffffff;
}
.button--dark:hover {
  background-color: #8871F6;
  color: #ffffff;
}

.button--purple {
  background-color: #8871F6;
  color: #ffffff;
}
.button--purple:hover {
  background-color: #ffffff;
  color: #8871F6;
}

.button--white {
  background-color: #ffffff;
  color: #171717;
}
.button--white:hover {
  background-color: #171717;
  color: #ffffff;
}

.button--squared {
  font-size: 18px;
  line-height: 21px;
  color: rgba(23, 23, 23, 0.6);
  border-radius: 12px;
  background-color: rgba(136, 113, 246, 0);
  transition: background-color 1s;
  font-weight: 400;
  cursor: pointer;
}
.button--squared:hover {
  color: #171717;
  border-color: transparent;
}
.button--squared.active {
  background-color: #8871f6;
  color: #ffffff;
  border-color: transparent;
  font-weight: 700;
}

.hoist {
  z-index: 10;
}

.hoisting__element {
  transition: all 2.5s ease-out;
  z-index: 10;
  opacity: 1;
  translate: 0 0;
}

.hoisting__element--main-pic {
  transition: all 1.5s ease-out;
}

.hoisting__element--pionerrx {
  transition: all 2.5s ease-out;
}

.hoisting__element--datascan {
  transition: all 3s ease-out;
}

.hoisting__element--suitrx {
  transition: all 3.5s ease-out;
}

.hoisting__element--pksoftware {
  transition: all 4s ease-out;
}

.hoisting__element--not-visible {
  translate: 0 1000px;
  opacity: 0;
}

.hoisting-text {
  transition: all 1.5s;
  transform: translateY(0%);
  opacity: 1;
}

.hoisting-text--start {
  opacity: 0;
  transform: translateY(100%);
}

.push-right--animation {
  animation: push 0.8s ease-in;
}
@media (min-width: 1280px) {
  .push-right--animation {
    animation: none;
  }
}

@keyframes push {
  0% {
    translate: 0 0;
  }
  25% {
    translate: 0 0;
  }
  75% {
    translate: 60px 0;
  }
  100% {
    translate: 0 0;
  }
}
.page {
  height: 100%;
  scroll-behavior: smooth;
}

.page-body {
  margin: 0;
  padding: 0;
  font-family: "Mulish", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  background-color: #F5FFFC;
  background-image: url("../img/background-414.png");
  background-position: 0 0;
  background-size: cover;
  color: #171717;
  overflow-x: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .page-body {
    background: #F5FFFC url("../img/background-768.png") no-repeat 0 0;
    background-size: cover;
  }
}
@media (min-width: 1280px) {
  .page-body {
    background: #F5FFFC url("../img/background-1280.png") no-repeat 0 0;
    background-size: cover;
  }
}

.page-header {
  padding-top: 32px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
  overflow: hidden;
}

.page-header--white {
  background-color: #ffffff;
}

.page-header--menu-oppened {
  height: 100vh;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__toggle-container {
  width: 27px;
  height: 19px;
}

.page-header__toggle {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
}
.page-header__toggle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 100%;
  height: 3px;
  background-color: #171717;
  border-radius: 10px;
  transition: 0.5s;
}
.page-header__toggle::after {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%) rotate(-45deg);
  width: 100%;
  height: 3px;
  background-color: #171717;
  border-radius: 10px;
  transition: 0.5s;
}

.page-header__toggle span {
  display: none;
  width: 100%;
  height: 3px;
  background-color: #171717;
  border-radius: 10px;
}

.page-header__button {
  width: 223px;
  padding: 17px 32px;
}

.page-header__button--oppened {
  position: absolute;
  bottom: 24px;
}

.page-header__toggle--closed {
  height: 19px;
}
.page-header__toggle--closed::before, .page-header__toggle--closed::after {
  transform: none;
}
.page-header__toggle--closed::before {
  top: 0;
  left: 0;
}
.page-header__toggle--closed::after {
  bottom: 0;
  left: 0;
}

.page-header__toggle--closed span {
  display: block;
}

@media (min-width: 768px) {
  .page-header {
    padding-left: 60px;
    padding-right: 60px;
    background-color: transparent;
  }

  .page-header--white {
    background-color: #ffffff;
  }
}
@media (min-width: 1280px) {
  .page-header {
    padding: 32px 0;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    min-width: 56px;
  }

  .page-header__container {
    margin-right: 197px;
  }

  .page-header__toggle-container {
    display: none;
  }

  .page-header__button {
    margin-left: auto;
  }

  .page-header__logo-link {
    width: 130px;
    height: 31px;
  }
}
.page-main {
  flex-grow: 1;
}

.page-footer {
  background: #ffffff;
  padding: 48px 16px 32px;
}

.page-footer__text {
  width: 285px;
  opacity: 0.7;
  font-size: 16px;
  line-height: 125%;
  margin-bottom: 32px;
  margin-top: 16px;
}

.page-footer__menu {
  display: flex;
  justify-content: space-between;
  margin: 0 0 56px 0;
}

.page-footer__menu-title {
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 8px;
}

.page-footer__item {
  margin-bottom: 16px;
}
.page-footer__item:last-child {
  margin: 0;
}

.page-footer__link {
  color: #171717;
  display: block;
  width: 100%;
}
.page-footer__link:hover {
  opacity: 0.5;
}

.page-footer__address-link {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 143%;
  font-style: normal;
  margin-bottom: 16px;
}

.page-footer address {
  display: flex;
  flex-direction: column;
}

.page-footer__address {
  width: 180px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  line-height: 143%;
}

.page-footer__copyright {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.6;
  width: 275px;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 768px) {
  .page-footer {
    padding: 40px 60px 24px;
  }

  .page-footer__logo-link {
    display: inline-block;
    cursor: pointer;
  }

  .page-footer__logo {
    display: block;
    width: 130px;
    height: 31px;
  }

  .page-footer__menu {
    justify-content: flex-start;
    margin-bottom: 52px;
  }

  .page-footer__text {
    font-size: 16px;
    width: 316px;
  }

  .page-footer__menu-container:first-child {
    margin-right: 152px;
  }
}
@media (min-width: 1280px) {
  .page-footer {
    padding: 60px 0 32px 0;
  }

  .page-footer__logo {
    width: 168px;
    height: 40px;
  }

  .page-footer__text {
    margin-bottom: 0;
    margin-top: 24px;
  }

  .page-footer__flex-container {
    display: flex;
  }

  .page-footer__menu {
    margin-left: auto;
  }

  .page-footer__copyright {
    font-size: 16px;
    width: 312px;
  }
}
.menu {
  margin-top: 32px;
  height: 0;
  margin: 0;
  transform: translateX(100vw);
  transition: 1s;
}

.menu--oppened {
  transform: translateX(0%);
  margin-top: 32px;
  height: calc(100vh - 105px);
}

.menu__list {
  margin: 0 0 32px 0;
}

.menu__item {
  margin: 0 0 32px 0;
}

.menu__link {
  display: block;
  width: 100%;
  font-size: 18px;
  color: #171717;
}
.menu__link:hover {
  opacity: 0.5;
}

.menu__link--desk {
  display: none;
}

@media (min-width: 768px) {
  .menu__link--desk {
    display: block;
  }
}
@media (min-width: 1280px) {
  .menu {
    transform: none;
    height: auto;
    width: 100%;
    display: flex;
  }

  .menu__list {
    display: flex;
    align-items: center;
    margin: 0;
  }

  .menu__item {
    margin: 0 24px 0 0;
  }
  .menu__item:last-child {
    margin: 0;
  }

  .menu__link--desk {
    color: #8871f6;
  }
}
.promo {
  padding: 32px 16px 0 16px;
  margin-bottom: 80px;
}

.promo__title {
  font-weight: 700;
  font-size: 42px;
  text-align: center;
  line-height: 110%;
  margin: 0 auto 24px;
  max-width: 382px;
}

.promo__text {
  margin: 0 auto 24px;
  max-width: 340px;
  text-align: center;
  font-size: 16px;
  line-height: 130%;
}

.promo__brake {
  display: none;
}

.promo__button {
  width: 100%;
  margin-bottom: 40px;
}

.promo__img {
  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .promo {
    margin-bottom: 136px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .promo__title {
    font-size: 50px;
    line-height: 118%;
    width: 565px;
    max-width: 565px;
  }

  .promo__text {
    max-width: 552px;
    font-size: 18px;
  }

  .promo__button {
    width: 223px;
    margin: 0 auto 48px;
  }

  .promo__brake {
    display: block;
  }
}
@media (min-width: 1280px) {
  .promo {
    padding: 0;
    margin-bottom: 232px;
    position: relative;
  }

  .promo__title {
    font-size: 65px;
    width: 491px;
    text-align: left;
    margin: 0 0 14px 0;
    padding-top: 72px;
  }

  .promo__text {
    width: 431px;
    text-align: left;
    margin: 0 0 24px 0;
    font-family: Mulish;
    font-size: 18px;
    line-height: 130%;
  }

  .promo__button {
    margin: 0;
  }

  .promo__img {
    position: absolute;
    top: 5px;
    right: 3px;
    width: 736px;
    height: 532px;
  }
}
.subpromo {
  color: #ffffff;
  padding: 24px 16px 83px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 10;
  position: relative;
}

.subpromo__title {
  max-width: 385px;
  text-align: left;
  margin-bottom: 24px;
}

.subpromo__text {
  line-height: 130%;
  margin-bottom: 16px;
  max-width: 485px;
}

.subpromo__text--second {
  margin-bottom: 40px;
}

.subpromo__card-container {
  position: relative;
  width: 100%;
  height: 235px;
  margin: 0 auto 72px;
}

.subpromo__card {
  position: absolute;
  box-sizing: border-box;
  padding-top: 32px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subpromo__card--first {
  top: 70px;
  right: calc(50% + 30px);
  width: 156px;
  height: 194px;
  background: #76E3D4;
  transform: rotate(-5deg);
  z-index: 100;
}

.subpromo__card--second {
  top: 0;
  left: calc(50% - 22px);
  width: 227px;
  min-height: 299px;
  transform: rotate(11deg);
  background: #CBD2F9;
}

.subpromo__icon {
  margin-bottom: 14px;
}

.subpromo__card-text {
  color: #3C3C3B;
  text-align: center;
  font-size: 16px;
}

.subpromo__card-text--first {
  width: 124px;
}

.subpromo__card-text--second {
  width: 197px;
}

@media (min-width: 768px) {
  .subpromo {
    padding: 48px 60px 64px;
  }

  .subpromo__title {
    max-width: 485px;
    margin: 0 auto 24px;
    text-align: center;
  }

  .subpromo__text {
    margin: 0 auto 24px;
    text-align: center;
    max-width: 482px;
  }

  .subpromo__text--second {
    margin-bottom: 48px;
  }
}
@media (min-width: 1280px) {
  .subpromo {
    padding: 80px 0 100px 0;
    width: 1200px;
  }

  .subpromo__title {
    max-width: 763px;
    text-align: left;
    margin: 0 0 32px 0;
  }

  .subpromo__text {
    font-family: Mulish;
    font-size: 18px;
    line-height: 130%;
    max-width: 531px;
    text-align: left;
    margin: 0 0 14px;
  }

  .subpromo__card-container {
    position: absolute;
    width: 470px;
    top: 131px;
    right: 65px;
    height: 355px;
  }

  .subpromo__card--first {
    width: 174px;
    height: 193px;
    box-sizing: border-box;
    z-index: 1000;
    top: 69px;
    right: calc(50% + 17px);
  }

  .subpromo__card--second {
    width: 253px;
    min-height: 206px;
    padding: 0 0 23px;
    top: 30px;
    transform: rotate(8deg);
  }

  .subpromo__card-text {
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }

  .subpromo__card-text--second {
    width: 195px;
  }

  .subpromo__icon--fan {
    margin-bottom: 15px;
    margin-top: 0;
  }

  .subpromo__icon--world {
    margin-top: 14px;
  }
}
.title-2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

@media (min-width: 768px) {
  .title-2 {
    font-size: 35px;
    line-height: 110%;
  }
}
@media (min-width: 1280px) {
  .title-2 {
    font-size: 60px;
  }
}
.title-3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 110%;
}
.title-3--white {
  color: #ffffff;
}

@media (min-width: 768px) {
  .title-3 {
    font-size: 30px;
  }
  .title-3--big {
    font-size: 45px;
  }
}
@media (min-width: 1280px) {
  .title-3 {
    font-size: 45px;
  }
}
.title-4 {
  font-size: 26px;
  font-weight: 700;
  line-height: 110%;
}

@media (min-width: 768px) {
  .title-4 {
    font-size: 28px;
  }
}
@media (min-width: 1280px) {
  .title-4 {
    font-size: 35px;
  }
}
.test-drive {
  background: #190C39;
  padding: 56px 16px 48px;
  color: #ffffff;
}

.test-drive__title {
  width: 305px;
  text-align: center;
  margin: 0 auto 16px;
}

.test-drive__subtitle {
  max-width: 330px;
  text-align: center;
  margin: 0 auto 32px;
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
}

.test-drive__button {
  width: 100%;
  margin-bottom: 32px;
}

.test-drive__img {
  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .test-drive {
    padding: 56px 60px 56px;
  }

  .test-drive__title {
    margin: 0 auto 24px;
    width: 445px;
  }

  .test-drive__subtitle {
    max-width: 482px;
    margin-bottom: 24px;
  }

  .test-drive__button {
    width: 334px;
    margin: 0 auto 48px;
  }
}
@media (min-width: 1280px) {
  .test-drive {
    padding: 106px 0;
  }

  .test-drive__title {
    width: 480px;
    margin: 0 0 24px 0;
    text-align: left;
  }

  .test-drive__subtitle {
    font-family: Mulish;
    font-size: 18px;
    line-height: 130%;
    text-align: left;
    margin: 0 0 24px 0;
    max-width: 537px;
  }

  .test-drive__button {
    width: 223px;
    margin: 0;
  }

  .test-drive__block-1 {
    margin-left: 48px;
    padding-top: 60px;
  }

  .test-drive__flex-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .test-drive__img {
    display: block;
    width: 486px;
    height: 403px;
    margin-right: auto;
  }
}
.why {
  padding: 64px 16px 0;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

.why__title {
  width: 260px;
  margin: 0 auto 16px;
}

.why__subtitle {
  max-width: 365px;
  margin: 0 auto 32px;
  text-align: center;
}

.why__item-title {
  width: 310px;
  margin: 0 0 16px 0;
}

.why__item-title--privacy {
  display: none;
}

.why__description {
  max-width: 400px;
  margin: 0 0 24px 0;
}

.why__description--timely {
  max-width: 340px;
}

.why__map {
  position: relative;
  margin: 0 auto 90px auto;
  max-width: 382px;
  width: 100%;
  box-sizing: border-box;
}

.why__map--bg {
  border-radius: 40px;
  background: #ffffff;
  padding: 73px 30px 73px 26px;
  margin-bottom: 64px;
  min-height: 385px;
}

.why__pic-main {
  max-width: 382px;
}

.why__pic-driver {
  display: inline-block;
  position: absolute;
  width: 228px;
  height: 125px;
  top: 13px;
  right: -38px;
}

.why__pic-time {
  display: inline-block;
  position: absolute;
  left: -17px;
  bottom: -45px;
  width: 141px;
  height: 157px;
}

.why__pic-widgets {
  width: 260px;
  height: 194px;
  position: absolute;
  bottom: -41px;
  right: -25px;
}

.why__svg-container {
  position: absolute;
  width: 140px;
  height: 79px;
  border-radius: 22px;
  box-shadow: 0px 27px 45px 0px rgba(0, 0, 0, 0.1);
}

.why__svg-container--primerx {
  top: 20px;
  left: 90px;
}

.why__svg-container--datascan {
  top: 91px;
  left: 12px;
  z-index: 1;
}

.why__svg-container--pioneerrx {
  top: 56px;
  right: 3px;
}

.why__svg-container--suitrx {
  bottom: 75px;
  right: 3px;
}

.why__svg-container--pksoftware {
  bottom: 25px;
  right: 110px;
}

.why__map-svg {
  width: 140px;
  height: 79px;
}

.why__pic {
  display: block;
  margin: 0 auto;
}

.why__widget-time {
  width: 140px;
  padding: 10px 20px;
  box-shadow: 0px 27px 45px 0px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 10px;
  transform: rotate(8deg);
  position: absolute;
  left: 0;
  bottom: -50px;
}

.why__widget-title {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 10px;
  color: #24222F;
  opacity: 0.4;
}

.why__widget-text {
  font-family: "Montserrat";
  font-weight: 600;
  color: #24222F;
  font-size: 12px;
}

.why__widget-text--white {
  color: #ffffff;
}

.why__widget-text--bg {
  display: inline-block;
  background-color: #171717;
  border-radius: 12px;
  color: #F1F1F1;
  padding: 1px 7px;
}

.why__widget-name {
  position: absolute;
  top: 20px;
  right: -20px;
  padding: 7px 10px;
  border-radius: 20px;
  background: #ffffff;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 5px;
  font-family: "Monserrat";
  box-sizing: border-box;
  box-shadow: 0px 27px 45px 0px rgba(0, 0, 0, 0.2);
}

.why__widget-first-block {
  grid-column: 1/2;
  grid-row: 1/-1;
  position: relative;
  align-self: center;
}

.why__widget-first-block span {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #171717;
  color: #ffffff;
  width: 30px;
  height: 18px;
  border-radius: 9px;
  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
}

.why__widget-second-block {
  background: #44D453;
  color: #ffffff;
  border-radius: 15px;
  padding: 1px 8px;
}

.why__widget-second-block svg {
  margin-left: 5px;
}

.why__img-hipa {
  width: 169px;
  height: 128px;
  position: absolute;
  right: -10px;
  bottom: -15px;
}

.why__img-dashboard {
  display: block;
}

.why__bundl {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -50%;
  left: 50%;
  width: 140px;
  height: 120px;
  padding: 15px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.11);
  box-sizing: border-box;
  transform: rotate(9deg) translateX(-50%) translateY(50%);
}

.why__bundl svg {
  margin-bottom: 5px;
}

.why__bundl--tel {
  background-color: #B9F8EC;
  width: 150px;
  top: 185px;
  left: 185px;
  transform: rotate(-10deg);
}

.why__bundl-text {
  font-size: 12px;
  line-height: 120%;
}

.why__description--margin {
  margin-bottom: 24px;
}

.why__communication {
  display: block;
}

.why__img-tel {
  position: absolute;
  bottom: -55px;
  right: 20px;
}

.why__widget-driver-out {
  width: 214px;
  position: absolute;
  right: -28px;
  top: -11px;
}

@media (min-width: 768px) {
  .why {
    padding: 160px 60px 160px;
  }

  .why__title {
    width: 275px;
    margin-bottom: 24px;
  }
  .why__title:nth-child(even) {
    margin-left: auto;
  }

  .why__subtitle {
    max-width: 482px;
    margin-bottom: 68px;
    line-height: 130%;
  }

  .why__description {
    width: 399px;
    font-size: 18px;
    line-height: 130%;
  }

  .why__description--even {
    margin-left: auto;
  }

  .why__description--privacy {
    max-width: 450px;
    width: 477px;
  }

  .why__map {
    max-width: 648px;
  }

  .why__pic-main {
    max-width: 648px;
  }

  .why__pic-driver {
    width: 362px;
    height: 198px;
    top: 29px;
    right: -103px;
  }

  .why__pic-time {
    width: 293px;
    height: 336px;
    bottom: -136px;
    left: -52px;
  }

  .why__pic-widgets {
    width: 465px;
    height: 367px;
    bottom: -95px;
    right: -74px;
  }

  .why__item-title--even {
    margin-left: auto;
    width: 399px;
  }

  .why__item-title--privacy {
    display: block;
    width: 451px;
  }

  .why__svg-container {
    width: 200px;
    height: 112px;
  }

  .why__svg-container--primerx {
    top: -11px;
    left: 90px;
  }

  .why__svg-container--datascan {
    top: 80px;
    left: -50px;
  }

  .why__svg-container--pioneerrx {
    top: 106px;
    right: -50px;
  }

  .why__svg-container--suitrx {
    bottom: 75px;
    right: -55px;
  }

  .why__svg-container--pksoftware {
    bottom: 0;
    right: 85px;
  }

  .why__map-svg {
    width: 200px;
    height: 112px;
  }

  .why__img-hipa {
    width: 245px;
    height: 195px;
  }

  .why__widget-driver-out {
    width: 325px;
    position: absolute;
    right: -74px;
    top: 12px;
  }
}
@media (min-width: 1280px) {
  .why {
    padding: 180px 0 70px 0;
    background: url("../img/why-lights.png") no-repeat;
    background-size: 100% auto;
  }

  .why__title {
    width: 475px;
  }

  .why__subtitle {
    max-width: 638px;
    font-family: Mulish;
    font-size: 18px;
    margin-bottom: 120px;
  }

  .why__description {
    max-width: 460px;
    width: 431px;
    font-family: Mulish;
  }

  .why__description--realtime {
    width: 423px;
  }

  .why__description--scale {
    width: 431px;
  }

  .why__description--privacy {
    width: 452px;
  }

  .why__description--timely {
    width: 430px;
  }

  .why__item {
    position: relative;
    margin-bottom: 268px;
  }

  .why__item--scale {
    margin-bottom: 420px;
  }

  .why__item-title {
    width: 450px;
    padding-top: 100px;
  }

  .why__item-title--realtime {
    width: 423px;
  }

  .why__item-title--privacy {
    width: 452px;
  }

  .why__map--moderntech {
    position: absolute;
    top: 3px;
    right: 44px;
  }

  .why__map--realtime {
    position: absolute;
    top: 0;
    left: 0;
  }

  .why__map--scale {
    position: absolute;
    top: 0;
    right: 0;
  }

  .why__map--privacy {
    position: absolute;
    top: 0;
    left: 0;
  }

  .why__map--timely {
    position: absolute;
    top: 0;
    right: 52px;
  }

  .why__pic-driver {
    top: -4px;
    right: -124px;
  }

  .why__pic-time {
    bottom: -158px;
    left: -50px;
  }

  .why__communication {
    border-radius: 40px;
  }
}
.slogan {
  background: #8871F6;
  color: #ffffff;
  padding: 48px 16px 32px;
}

.slogan__title {
  max-width: 280px;
  margin: 0 auto 16px;
  text-align: center;
}

.slogan__subtitle {
  max-width: 382px;
  margin: 0 auto 32px;
  text-align: center;
}

.slogan__button {
  width: 100%;
  margin: 0 0 56px 0;
}

.slogan img {
  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .slogan {
    padding: 48px 60px 32px;
  }

  .slogan__title {
    max-width: 445px;
    margin-bottom: 24px;
  }

  .slogan__subtitle {
    font-size: 18px;
    line-height: 130%;
    max-width: 435px;
    margin-bottom: 24px;
  }

  .slogan__button {
    width: 223px;
    margin: 0 auto 64px;
  }
}
@media (min-width: 1280px) {
  .slogan {
    padding: 72px 0;
  }

  .slogan__block-1 {
    margin-left: 20px;
    padding-top: 103px;
  }

  .slogan__title {
    margin: 0 0 24px 0;
    text-align: left;
  }

  .slogan__subtitle {
    text-align: left;
    font-family: Mulish;
    font-size: 18px;
    max-width: 444px;
    margin: 0 0 24px 0;
  }

  .slogan__button {
    margin: 0;
  }

  .slogan img {
    width: 652px;
    height: 437px;
    margin: 0;
  }

  .slogan__flex-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}
.subpromo-wrapper {
  border-radius: 40px;
  overflow: hidden;
  background: #190c39 url("../img/background-spot-light-414.png") no-repeat 0 0;
  background-size: cover;
}

@media (min-width: 1280px) {
  .subpromo-wrapper {
    background: #190c39 url("../img/subpromo-background-t.jpg") no-repeat 0 0;
    background-size: cover;
    border-radius: 95px;
    position: relative;
    z-index: 5;
  }
}
.subpromo-slider {
  color: #ffffff;
  padding-bottom: 50px;
}

.subpromo-slider__block {
  height: 437px;
  position: relative;
}
.subpromo-slider__block::before {
  content: "";
  width: 760px;
  height: 760px;
  position: absolute;
  top: -58px;
  left: 50%;
  transform: translateX(-50%);
  background: url("../img/circle-bg.png") no-repeat 0 0;
  background-size: cover;
}

.subpromo-slider__title {
  max-width: 382px;
  margin: 0 auto 54px;
  text-align: center;
}

.subpromo__logo-link {
  display: block;
  margin: 0 auto;
  width: 160px;
}

@media (min-width: 768px) {
  .subpromo-slider {
    padding-bottom: 0;
  }

  .subpromo-slider__block {
    height: 460px;
    padding-top: 71px;
    box-sizing: border-box;
  }
  .subpromo-slider__block::before {
    width: 760px;
    height: 760px;
    top: 4px;
  }

  .subpromo-slider__title {
    max-width: 542px;
    margin: 0 auto;
  }

  .subpromo__logo-link {
    width: 222px;
    height: 53px;
  }

  .subpromo__logo {
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .subpromo-slider__block {
    height: 1228px;
    position: relative;
    padding-top: 117px;
  }
  .subpromo-slider__block::before {
    width: 1228px;
    height: 1228px;
    top: 4px;
  }

  .subpromo-slider__title {
    max-width: 950px;
  }

  .subpromo__logo-link {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    z-index: 5;
    width: 336px;
    height: 80px;
  }
}
.service-features {
  width: 100%;
  box-sizing: border-box;
  padding: 32px 0 127px;
}
@media (min-width: 1280px) {
  .service-features {
    background: url("../img/slide-features/bg/lights.png") no-repeat 0 0;
    background-size: 100% 100%;
    margin-top: -106px;
    position: relative;
    z-index: 1;
    padding-top: 291px;
    padding-bottom: 174px;
  }
}

@media (min-width: 1280px) {
  .service-features--smart {
    background-image: url("../img/slide-features/bg/smart-light.png");
  }
}

.service-features__wrapper {
  border-radius: 40px;
  overflow: hidden;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
}
@media (min-width: 1280px) {
  .service-features__wrapper {
    margin: 0 auto;
    max-width: 1200px;
    padding: 41px 40px 63px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 41px;
    box-sizing: border-box;
  }
}

.service-features__slider {
  position: relative;
  z-index: 5;
  margin-top: -13px;
}
@media (min-width: 1280px) {
  .service-features__slider {
    margin-top: 0;
  }
}

@media (min-width: 1280px) {
  .service-features__container {
    display: flex;
    justify-content: space-between;
  }
}

.service-features__title {
  margin-bottom: 23px;
  padding: 0 35px;
  box-sizing: border-box;
}
@media (min-width: 1280px) {
  .service-features__title {
    padding: 0;
    margin: 0 0 32px;
  }
}

.service-features__buttons-container {
  position: relative;
  padding-right: 16px;
  padding-left: 16px;
}
.service-features__buttons-container::before {
  content: "";
  width: 100%;
  height: 30px;
  background: #ffffff;
  top: calc(100% - 20px);
  left: 0;
  position: absolute;
  z-index: 5;
}
@media (min-width: 1280px) {
  .service-features__buttons-container::before {
    display: none;
  }
}
@media (min-width: 1280px) {
  .service-features__buttons-container {
    padding: 0;
    margin: 0;
  }
}

.service-features__buttons-wrapper {
  width: 100%;
  padding-bottom: 23px;
  box-sizing: border-box;
  position: relative;
  overflow: auto;
}
@media (min-width: 1280px) {
  .service-features__buttons-wrapper {
    width: 240px;
    overflow: visible;
    z-index: 20;
  }
}

.service-features__buttons {
  display: inline-flex;
  width: auto;
  white-space: nowrap;
}
@media (min-width: 1280px) {
  .service-features__buttons {
    display: block;
  }
}

.service-features__button {
  padding: 18px 31px 16px;
  font-size: 16px;
  display: block;
}
@media (min-width: 1280px) {
  .service-features__button {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (min-width: 1280px) {
  .service-features__slider {
    width: 879px;
  }
}

.service-slider__item {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s;
  z-index: 0;
}

.service-slider__item--active {
  opacity: 1;
  position: relative;
  z-index: 5;
}

.slider {
  width: 100%;
  height: auto;
}
@media (min-width: 1280px) {
  .slider {
    overflow: hidden;
  }
}

.slider__container {
  margin-bottom: 24px;
}

.slider-item {
  padding: 0 16px;
  box-sizing: border-box;
  position: relative;
}
@media (min-width: 1280px) {
  .slider-item {
    padding: 0;
  }
}

.slider-item__description {
  padding: 26px 26px 37px;
  border-radius: 18px;
  margin-bottom: 9px;
  background: #b9f8ec;
}
@media (min-width: 1280px) {
  .slider-item__description {
    position: absolute;
    right: 12px;
    bottom: 50px;
    width: 336px;
  }
}

.slider-item__description--sky {
  background-color: #d8ebfd;
}

.slider-item__description--pistachios {
  background-color: #b9f8ec;
}

.slider-item__description--violet {
  background-color: #e8d5fc;
}

.slider-item__title {
  margin-bottom: 16px;
}

@media (min-width: 1280px) {
  .slider-item__picture {
    border-radius: 30px;
    overflow: hidden;
  }
}

.slider-item__pic {
  width: 100%;
  display: block;
}

.phone-slider {
  margin: 0 16px;
  overflow: hidden;
}
@media (min-width: 1280px) {
  .phone-slider {
    overflow: visible;
    position: relative;
    border-radius: 30px;
    background: rgba(185, 248, 236, 0.3);
  }
  .phone-slider--violet {
    background-color: rgba(232, 213, 252, 0.3);
  }
  .phone-slider--pistachios {
    background-color: rgba(185, 248, 236, 0.3);
  }
  .phone-slider--sky {
    background-color: rgba(216, 235, 253, 0.3);
  }
}

.phone-slider__text-block {
  margin: 0 0 9px;
}

.phone-slider__pagination {
  position: absolute;
  bottom: -22px !important;
  right: 0;
}

.simple-slider {
  margin: 0 16px;
  overflow: hidden;
}
@media (min-width: 1280px) {
  .simple-slider {
    overflow: visible;
    position: relative;
    margin: 0;
  }
}

.simple-slider__text-block {
  margin: 0 0 9px;
}

.phone-swiper {
  width: 100%;
  padding: 80px 0;
  background: #b9f8ec;
  border-radius: 30px;
}
@media (min-width: 1280px) {
  .phone-swiper {
    overflow: hidden;
    width: 740px;
    margin: 0 auto;
    background: none;
    padding: 47px 0;
  }
}

.phone-swiper__slide {
  overflow: hidden;
  transition: all 0.7s;
  border-radius: 20px;
}
@media (min-width: 1280px) {
  .phone-swiper__slide {
    border-radius: 40px;
  }
}

.phone-swiper__slide.swiper-slide-active {
  opacity: 1;
  z-index: 1;
  transform: translateY(-4px) scale(1.1);
  margin: 0 !important;
}

.phone-swiper__slide.swiper-slide-prev {
  margin-right: -4px !important;
  margin-left: 25px !important;
}

.phone-swiper__slide.swiper-slide-next {
  margin-left: -4px !important;
  margin-right: 25px !important;
}

.phone-swiper__img {
  width: 100%;
}

.phone-swiper__slide.swiper-slide-active .phone-swiper__img {
  opacity: 1;
}

.simple-texts {
  position: relative;
}
@media (min-width: 1280px) {
  .simple-texts {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
  }
}

.simple-texts__description {
  padding: 26px 26px 37px;
  border-radius: 18px;
  margin-bottom: 9px;
  background: #b9f8ec;
  width: 100%;
  box-sizing: border-box;
  min-height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
  transition: opacity 1s;
}
@media (min-width: 1280px) {
  .simple-texts__description {
    position: absolute;
    width: 336px;
    transition: opacity 0.3s;
    padding: 30px 26px 27px;
    font-size: 18px;
    line-height: 23px;
  }
}

.simple-texts__description--active {
  opacity: 1;
  z-index: 10;
  position: relative;
}
@media (min-width: 1280px) {
  .simple-texts__description--active {
    position: absolute;
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
    opacity: 1;
    animation: activating 1s;
  }
}

.simple-texts__description--sky {
  background-color: #d8ebfd;
}

.simple-texts__description--pistachios {
  background-color: #b9f8ec;
}

.simple-texts__description--violet {
  background-color: #e8d5fc;
}

.simple-texts__title {
  margin-bottom: 16px;
}

.phone-texts {
  position: relative;
}
@media (min-width: 1280px) {
  .phone-texts {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
  }
}

.phone-texts__item {
  padding: 26px 26px 37px;
  border-radius: 18px;
  margin-bottom: 9px;
  background: #b9f8ec;
  width: 100%;
  box-sizing: border-box;
  min-height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
  transition: opacity 1s;
}
@media (min-width: 1280px) {
  .phone-texts__item {
    position: absolute;
    width: 336px;
    transition: none;
    z-index: -1;
    padding: 30px 26px 27px;
    font-size: 18px;
    line-height: 23px;
  }
}

.phone-texts__item--active {
  opacity: 1;
  z-index: 10;
  position: relative;
}
@media (min-width: 1280px) {
  .phone-texts__item--active {
    position: absolute;
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
    opacity: 1;
    animation: activating 1s;
  }
}

.phone-texts__item--sky {
  background-color: #d8ebfd;
}

.phone-texts__item--pistachios {
  background-color: #b9f8ec;
}

.phone-texts__item--violet {
  background-color: #e8d5fc;
}

.phone-texts__title {
  margin-bottom: 16px;
}

@keyframes activating {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.pagination {
  display: flex;
  gap: 7px;
  justify-content: center;
}
@media (min-width: 1280px) {
  .pagination {
    justify-content: right;
    position: absolute;
    bottom: -32px !important;
    left: unset !important;
    padding-right: 0px;
    box-sizing: border-box;
  }
}

@media (min-width: 1280px) {
  .position--left-bottom {
    left: -29px;
    bottom: -14px;
  }
}

@media (min-width: 1280px) {
  .position--right-bottom {
    right: -14px;
    bottom: 30px;
  }
}

@media (min-width: 1280px) {
  .position--right-middle {
    right: -14px;
    bottom: 108px;
  }
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #8871f6;
  opacity: 0.3;
  display: block;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.softs {
  position: relative;
  height: 275px;
  width: 144px;
  margin: 0 auto 24px;
}

.softs__item {
  position: absolute;
  top: 0;
  left: 0;
  height: 275px;
  width: 144px;
  opacity: 0;
  transition: opacity 1.5s;
}

.softs__item--active {
  opacity: 1;
}

.softs__link {
  width: 160px;
  height: 71px;
  display: block;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  text-align: center;
  border-radius: 14px;
}

.softs__center {
  border-radius: 26px;
  border: 1px dashed #ffffff;
  padding: 20px 23px;
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  width: 160px;
  height: 71px;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  align-items: center;
}

.softs__logo {
  height: 100%;
  width: auto;
}

.softs__block {
  padding: 0;
  margin: 0;
  height: 154px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.softs__block::before {
  content: "";
  height: 154px;
  width: 1px;
  border-left: 2px solid #8871F6;
  position: absolute;
  bottom: 0;
  left: calc(50% + 12px);
}
.softs__block::after {
  content: "";
  height: 154px;
  width: 1px;
  border-left: 2px solid #31D8B1;
  position: absolute;
  bottom: 0;
  left: calc(50% - 12px);
}

.softs__in {
  padding: 0;
  margin: 0;
  color: #ffffff;
  border-radius: 30px;
  background: #8871f6;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  padding: 6px 17px 7px;
  line-height: 13px;
  position: absolute;
  left: calc(50% + 19px);
  top: 100%;
  transform: translateY(-50%);
  opacity: 0;
}
.softs__in::before {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #8871f6;
  position: absolute;
  left: -11px;
  top: 50%;
  transform: translateY(-50%);
}

.softs__item--active .softs__in {
  animation: in 6s ease;
}

.softs__out {
  padding: 0;
  margin: 0;
  color: #ffffff;
  border-radius: 30px;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  background: #31d8b1 url("../img/softs/check.svg") no-repeat 12px center;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  padding: 4px 12px 4px 27px;
  background-size: 12px 12px;
  position: absolute;
  right: calc(50% + 19px);
  transform: translateY(-50%);
  opacity: 0;
}
.softs__out::before {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #31d8b1;
  position: absolute;
  right: -12px;
  top: 50%;
  transform: translateY(-50%);
}

.softs__item--active .softs__out {
  animation: out 6s ease;
}

@keyframes in {
  0% {
    top: 0;
    opacity: 0;
  }
  25% {
    top: 0;
    opacity: 1;
  }
  75% {
    top: 100%;
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 100%;
  }
}
@keyframes out {
  0% {
    top: 100%;
    opacity: 0;
  }
  25% {
    top: 100%;
    opacity: 1;
  }
  75% {
    top: 0%;
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 0%;
  }
}
@media (min-width: 768px) {
  .softs {
    margin-bottom: 15px;
  }

  .softs__item {
    height: 254px;
  }

  .softs__in,
.softs__out {
    font-size: 16px;
    padding: 8px 27px;
    line-height: 110%;
  }

  .softs__center {
    top: 0;
  }

  .softs__link {
    top: 0;
  }
}
@media (min-width: 1280px) {
  .softs {
    width: 1228px;
    height: 1228px;
    z-index: 1;
  }

  .softs__item {
    opacity: 1;
    height: 367px;
  }
  .softs__item::before {
    content: "";
    height: 228px;
    width: 1px;
    border-left: 2px solid #8871F6;
    position: absolute;
    bottom: 0;
    left: calc(50% + 12px);
  }
  .softs__item::after {
    content: "";
    height: 228px;
    width: 1px;
    border-left: 2px solid #31D8B1;
    position: absolute;
    bottom: 0;
    left: calc(50% - 12px);
  }

  .softs__block {
    height: 226px;
  }

  .softs__block::after,
.softs__block::before {
    display: none;
  }

  .softs__in::before {
    width: 16px;
    height: 16px;
  }

  .softs__out::before {
    width: 16px;
    height: 16px;
  }

  .softs__center {
    font-size: 22px;
    width: 223px;
    height: 109px;
  }

  .softs__link {
    width: 203px;
    height: 86px;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  .softs__logo {
    height: 135%;
  }

  .softs__item--your {
    top: -18px;
    left: 542px;
  }
  .softs__item--your .softs__in {
    left: calc(50% + 37px);
    animation: in 5s ease infinite;
  }
  .softs__item--your .softs__in::before {
    left: -32px;
  }
  .softs__item--your .softs__out {
    right: calc(50% + 24px);
    animation: out 5s ease infinite;
    padding: 8px 27px 8px 39px;
    background: #31d8b1 url(../img/softs/check.svg) no-repeat 20px center;
    background-size: 12px 12px;
  }
  .softs__item--your .softs__out::before {
    right: -21px;
  }

  .softs__item--datascan {
    transform: rotate(61deg);
    top: 119px;
    left: 925px;
  }
  .softs__item--datascan .softs__block {
    height: 223px;
    bottom: -37px;
  }
  .softs__item--datascan .softs__in {
    transform: rotate(-61deg);
    left: calc(50% + 0px);
    margin-top: -118px;
    animation: in 8s ease infinite;
  }
  .softs__item--datascan .softs__in::before {
    top: 14px;
    left: -19px;
  }
  .softs__item--datascan .softs__out {
    transform: rotate(-61deg);
    right: calc(50% + 2px);
    animation: out 8s ease infinite;
    padding: 8px 27px 8px 37px;
    background: #31d8b1 url(../img/softs/check.svg) no-repeat 18px center;
    background-size: 12px 12px;
  }
  .softs__item--datascan .softs__out::before {
    right: -24px;
    top: 26px;
  }
  .softs__item--datascan .softs__link {
    transform: rotate(-61deg);
    top: -17px;
    left: -30px;
  }

  .softs__item--pksoftware {
    transform: rotate(118deg);
    top: 505px;
    left: 940px;
  }
  .softs__item--pksoftware .softs__block {
    height: 235px;
    bottom: 59px;
  }
  .softs__item--pksoftware .softs__in {
    transform: rotate(-118deg);
    left: calc(50% + 0px);
    margin-top: 116px;
    animation: in 7s ease infinite;
  }
  .softs__item--pksoftware .softs__in::before {
    left: unset;
    top: 26px;
    right: -43px;
  }
  .softs__item--pksoftware .softs__out {
    transform: rotate(-118deg);
    right: calc(50% - 1px);
    animation: out 7s ease infinite;
    padding: 8px 27px 8px 39px;
    background: #31d8b1 url(../img/softs/check.svg) no-repeat 20px center;
    background-size: 12px 12px;
  }
  .softs__item--pksoftware .softs__out::before {
    right: unset;
    top: 42px;
    left: -10px;
  }
  .softs__item--pksoftware .softs__link {
    transform: rotate(-118deg);
    top: 1px;
    left: -8px;
  }

  .softs__item--primerx {
    transform: rotate(180deg);
    top: 662px;
    left: 546px;
  }
  .softs__item--primerx .softs__block {
    height: 228px;
    bottom: 17px;
  }
  .softs__item--primerx .softs__in {
    transform: rotate(-180deg);
    left: calc(50% + 35px);
    margin-top: 0px;
    animation: in 3s ease infinite;
  }
  .softs__item--primerx .softs__in::before {
    left: unset;
    right: -30px;
  }
  .softs__item--primerx .softs__out {
    transform: rotate(-180deg);
    right: calc(50% + 25px);
    animation: out 3s ease infinite;
    padding: 8px 27px 8px 38px;
    background: #31d8b1 url(../img/softs/check.svg) no-repeat 18px center;
    background-size: 12px 12px;
  }
  .softs__item--primerx .softs__out::before {
    right: unset;
    left: -22px;
  }
  .softs__item--primerx .softs__link {
    transform: rotate(-180deg);
    top: 10px;
    left: -37px;
    width: 226px;
    height: 98px;
  }

  .softs__item--pioneerrx {
    transform: rotate(-118deg);
    top: 506px;
    left: 144px;
  }
  .softs__item--pioneerrx .softs__block {
    height: 228px;
    bottom: -40px;
  }
  .softs__item--pioneerrx .softs__in {
    transform: rotate(118deg);
    left: calc(50% + 2px);
    margin-top: -126px;
    animation: in 6s ease infinite;
  }
  .softs__item--pioneerrx .softs__in::before {
    left: unset;
    right: -27px;
    top: 36px;
  }
  .softs__item--pioneerrx .softs__out {
    transform: rotate(118deg);
    right: calc(50% - 1px);
    animation: out 6s ease infinite;
    padding: 8px 27px 8px 39px;
    background: #31d8b1 url(../img/softs/check.svg) no-repeat 20px center;
    background-size: 12px 12px;
  }
  .softs__item--pioneerrx .softs__out::before {
    right: unset;
    left: -27px;
    top: 9px;
  }
  .softs__item--pioneerrx .softs__link {
    transform: rotate(118deg);
    top: -7px;
    left: -46px;
  }

  .softs__item--suiterx {
    transform: rotate(-61deg);
    top: 132px;
    left: 148px;
  }
  .softs__item--suiterx .softs__block {
    height: 228px;
    bottom: 64px;
  }
  .softs__item--suiterx .softs__in {
    transform: rotate(61deg);
    left: calc(50% + 16px);
    margin-top: 100px;
    animation: in 9s ease infinite;
  }
  .softs__item--suiterx .softs__in::before {
    top: 45px;
    left: -35px;
  }
  .softs__item--suiterx .softs__out {
    transform: rotate(61deg);
    right: calc(50% - 1px);
    animation: out 9s ease infinite;
    padding: 8px 27px 8px 37px;
    background: #31d8b1 url(../img/softs/check.svg) no-repeat 18px center;
    background-size: 12px 12px;
  }
  .softs__item--suiterx .softs__out::before {
    top: 4px;
    right: -20px;
  }
  .softs__item--suiterx .softs__link {
    transform: rotate(61deg);
    top: -13px;
    left: -13px;
  }
}