.page-body {
    font-family: sans-serif;
}

.wrapper_link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f0f0f0;
    width: 95%;
    height: 50px;
    text-decoration: none;
    background-color: blue;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}